.container{
    position: relative;
}

.header{
    position: relative;
    top: 0;
    text-shadow: 0.5px 0.5px 30px #000000;
    margin-top: 9vh;
}
.divider{
    border-top: 2px solid rgb(255, 255, 255) !important;
    margin: 0 !important;
    padding: 0 !important;
}




/* Phones */
@media only screen and (max-width: 767px) {
    #this{
        font-size: 3vh !important;
    }

    .dp{
        width: 20vh;
    }

    p{
        font-size: 1.8vh;
    }
}

/* Desktop Tablets */
@media only screen and (min-width: 768px) {

    #this{
        font-size: 6vh !important;
    }
 
    .dp{
        width: 30vh;
    }

    p{
        font-size: 1.12rem;
    }

}