@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-8px);
		-ms-transform:     translateY(-8px);
		transform:         translateY(-8px)
	}
}
.dimg {  

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;

  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;

    position: absolute;
    bottom: 0;
}

.header{
    text-shadow: 0.5px 0.5px 30px #000000;
    position: relative;
    top: 0;
}
.divider{
    border-top: 2px solid rgb(255, 255, 255) !important;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

/* Desktop Tablets */
@media only screen and (min-width: 768px) {

    .header>p{
        font-size: 3rem !important;
    }


}

/* Phones */
@media only screen and (max-width: 767px) {
    .header>p{
        font-size: 2.4rem !important;
    }

}